.search-bar {
  position: relative;
  width: 60%;
}

.search-bar input {
  padding: 10px;
  padding-right: 50px;
  width: 100%;
  height: 20px;
}

.search-bar .close-button {
  position: absolute;
  top: 7px;
  right: -60px;
  cursor: pointer;
  font-size: 0.7em;
  background: white;
}
